.root {
  // margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnRoot {
  margin-top: 25px;
}

.errorMsg {
  color: #cc0000;
  display: block;
  margin-top: 1.5em;
}

.consent {
  max-width: 600px;
  padding: 30px 40px;
  background-color: #ffffcc;

  ul {
    line-height: 1.3rem;
  }
}
