# Node modules get installed here
node_modules
frontend/build

# Python virtual env
venv
.myvenv/
/venv/
*.pyc
.cache/

.pytest_cache/
__pycache__

*.sqlite3
backend/static

# sass and webassets output artifacts
scss/assets
scss/variables.scss
scss/variables.scss.map
.sass-cache/
.webassets-cache


# Compiled python bytecode files

# static/fonts for now, since it is just symlink
static/fonts
# font files originate from a node module
static/fonts/*

static/assets
static/assets/*

# buildinfo files
static/buildinfo.*

# local log files
log/*

config/dev.ini
.env*

# CRLs
/crl
/crls
/crl-tmp
*.bk
crl_locations.json


# uploads
/uploads

# python coverage output
.coverage

# je coverage output
coverage

# BrowserStack
browserstacklocal

# decompiled CircleCI yaml
local-ci.yml

# python config
.python-version

# configuration files
override.ini
atst-overrides.ini

# binary file created by celery beat
celerybeat-schedule

# templates created for JS tests
js/test_templates

.mypy_cache/

# ide
.idea
.vscode

# env files
*.env

# databases