# ide
.idea
.vscode

# frontend artifacts
frontend/**/node_modules
frontend/build
frontend/coverage

# Python virtual env
venv
.myvenv/
/venv/
*.pyc
.cache/

.pytest_cache/
__pycache__

*.sqlite3
backend/static

# Compiled python bytecode files


# local log files
.env*

# CRLs
/crl
/crls
/crl-tmp
*.bk
crl_locations.json


# python coverage output
.coverage


# BrowserStack
browserstacklocal

# decompiled CircleCI yaml
local-ci.yml

# python config
.python-version

# binary file created by celery beat
celerybeat-schedule

.mypy_cache/


# env files
*.env
