[MASTER]
disable=
    missing-docstring,
    duplicate-code,
    too-many-ancestors,
    invalid-name,
    fixme,
    abstract-method,
    no-member,
    bad-continuation

load-plugins=
    pylint_django
