[MASTER]
disable=
    missing-docstring,
    duplicate-code,
    too-many-ancestors,
    invalid-name,
    fixme,
    abstract-method,
    no-member,
    bad-continuation,
    too-few-public-methods,
    import-error,
    no-name-in-module

load-plugins=
    pylint_django
